:root {
  --background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #333333;
  --accent-color: #f39c12;
  --accent-hover-color: #1e1209;
  --completed-color: #04692e;
  --primary-button-color: #5b0040;
  --primary-button-hover-color: #66055b;
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-content-background: #2c2c2c;
  --close-button-color: #888888;
  --close-button-hover-color: #ffffff;

  --button-gradient-start: #960a83;
  --button-gradient-end: #004a99;
  --button-gradient-hover-start: #004a99;
  --button-gradient-hover-end: #960a83;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  background: var(--secondary-background-color);
  border-left: 5px solid var(--accent-color);
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease;
}

.task-item:hover {
  background-color: var(--accent-hover-color);
}

.task-item.completed {
  border-left-color: var(--completed-color);
  margin-bottom: 20px;
}

.task-actions {
  margin-top: 10px;
}

.action-button {
  background: linear-gradient(to right, var(--button-gradient-start), var(--button-gradient-end));
  color: var(--text-color);
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: medium;
  text-decoration: none;
  transition: background 0.3s ease;
}

.action-button:hover {
  background: linear-gradient(to right, var(--button-gradient-hover-start), var(--button-gradient-hover-end));
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--modal-content-background);
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.close {
  color: var(--close-button-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: var(--close-button-hover-color);
  text-decoration: none;
}
