
:root {
  --primary-color: #830781;
  --primary-hover-color: #610447;
  --background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #333333;
  --success-color: #640262;
  --success-hover-color: #218838;
  --danger-color: #dc3545;
  --danger-hover-color: #c82333;
  --info-color: #17a2b8;
  --info-hover-color: #138496;
  --button-gradient-start: #960a83;
  --button-gradient-end: #004a99;
  --button-gradient-hover-start: #99008a;
  --button-gradient-hover-end: #003366;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: 'Arial', sans-serif; */
  font-family: Georgia, 'Times New Roman', Times;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-header {
  background-color: var(--secondary-background-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcome-section {
  font-size: 2.5em;
  font-weight: bold;
}

.task-form {
  margin-bottom: 20px;
}

.task-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  margin-bottom: 10px;
}

.create-task-button {
  background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.create-task-button:hover {
  background: linear-gradient(135deg, var(--button-gradient-hover-start), var(--button-gradient-hover-end));
}

.task-list {
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.task-item {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.task-item:hover {
  transform: scale(1.02);
}

.delete-task-button {
  background: linear-gradient(135deg, var(--danger-color), var(--danger-hover-color));
  border: none;
  color: var(--text-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.delete-task-button:hover {
  background: linear-gradient(135deg, var(--danger-hover-color), var(--danger-color));
}

.timer {
  margin-top: 10px;
}

.time {
  font-size: 18px;
  margin-bottom: 10px;
}

.timer-button {
  background: linear-gradient(135deg, var(--info-color), var(--info-hover-color));
  border: none;
  color: var(--text-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.timer-button:hover {
  background: linear-gradient(135deg, var(--info-hover-color), var(--info-color));
}

.language-selector {
  margin: 20px;
}

.language-selector button {
  background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.language-selector button:hover {
  background: linear-gradient(135deg, var(--button-gradient-hover-start), var(--button-gradient-hover-end));
}

.language-options {
  margin-top: 10px;
}

.language-options select {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
}

.retour-button {
  background: linear-gradient(135deg, var(--success-color), var(--success-hover-color));
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.retour-button:hover {
  background: linear-gradient(135deg, var(--success-hover-color), var(--success-color));
}



.custom-tour-class {
  font-family: Arial, sans-serif;
}

.shepherd-modal-overlay-container {
  background-color: rgba(0, 0, 0, 0.75);
}

.shepherd-step {
  border-radius: 8px;
  background-color: var(--secondary-background-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

.shepherd-step .shepherd-header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.shepherd-step .shepherd-text {
  padding: 15px;
}

.shepherd-step .shepherd-footer {
  background-color: var(--secondary-background-color);
  padding: 10px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: flex-end;
}

.shepherd-step .shepherd-footer .shepherd-button {
  background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition: background 0.3s ease;
}

.shepherd-step .shepherd-footer .shepherd-button:hover {
  background: linear-gradient(135deg, var(--button-gradient-hover-start), var(--button-gradient-hover-end));
}

.shepherd-step .shepherd-cancel-icon {
  color: var(--text-color);
  cursor: pointer;
}

.shepherd-arrow {
  border-color: var(--primary-color);
}

.hidden {
  display: none;
}
:root {
  --primary-color: #830781;
  --primary-hover-color: #610447;
  --background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --text-color: #ffffff;
  --border-color: #333333;
  --success-color: #640262;
  --success-hover-color: #218838;
  --danger-color: #dc3545;
  --danger-hover-color: #c82333;
  --info-color: #17a2b8;
  --info-hover-color: #138496;
  --button-gradient-start: #960a83;
  --button-gradient-end: #004a99;
  --button-gradient-hover-start: #99008a;
  --button-gradient-hover-end: #003366;
}

.custom-tour-class {
  font-family: Arial, sans-serif;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.shepherd-modal-overlay-container {
  background-color: rgba(0, 0, 0, 0.75);
}

.shepherd-step .shepherd-header {
  background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.shepherd-step .shepherd-text {
  padding: 15px;
}

.shepherd-step .shepherd-footer {
  background-color: var(--secondary-background-color);
  padding: 10px;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: flex-end;
}

.shepherd-step .shepherd-footer .shepherd-button {
  background: linear-gradient(135deg, var(--button-gradient-start), var(--button-gradient-end));
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
  transition: background 0.3s ease;
}

.shepherd-step .shepherd-footer .shepherd-button:hover {
  background: linear-gradient(135deg, var(--button-gradient-hover-start), var(--button-gradient-hover-end));
}

.shepherd-step .shepherd-cancel-icon {
  color: var(--text-color);
  cursor: pointer;
}

.shepherd-arrow {
  border-color: var(--primary-color);
}

.hidden {
  display: none;
}
.App-footer {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--border-color);
  margin-top: 20px;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

.App-footer p {
  margin: 5px 0;
}

.App-footer a {
  color: var(--info-color);
  text-decoration: none;
}

.App-footer a:hover {
  color: var(--info-hover-color);
  text-decoration: underline;
}

